.heartGraphContainer {
  margin-top: 50px;
  text-align: center;
}

.monitorText {
  font-size: medium;
}

.graph {
  background-color: black;
  border-radius: 20px;
  width: 800px;
  height: 500px;
}
